<!--button id="king_button"-->

<!--  <input type="checkbox" id="card" name="d" />
  <label for="card">
    
    <button id="lbl_img_button"> <img src="https://deckofcardsapi.com/static/img/8H.png" id="8H"> </button>
  </label>


<ul>
          <li><input type="checkbox" id="card" name="x"  />
            
              
              <button id="ks_button" name="king" value="KS" class="king_btns"> <img src="https://deckofcardsapi.com/static/img/KS.png"/> </button>
              <button id="kc_button" name="king" value="KC" class="king_btns"> <img src="https://deckofcardsapi.com/static/img/KC.png"/> </button>
              <button id="kh_button" name="king" value="KH" class="king_btns"> <img src="https://deckofcardsapi.com/static/img/KH.png"/> </button>
              <button id="kd_button" name="king" value="KD" class="king_btns"> <img src="https://deckofcardsapi.com/static/img/KD.png"/> </button>
            </label>

          </li>
        </ul>
-->
<button id="king"> <img src="images/KC_symbol.png" id="k"> </button>

 
